.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 150px;
}

.hero img {
  margin-top: 80px;
}

.hero h3 {
  text-align: center;
  width: 70%;
  font-size: 70px;
  font-weight: 600;
}

.hero h3 span {
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  width: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}

.hero-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
}

.hero-connect {
  border: none;
  color: white;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  font-size: 22px;
  padding: 15px 50px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-connect:hover {
  filter: brightness(1.2);
}

.hero-resume {
  border: none;
  border-radius: 50px;
  font-size: 22px;
  padding: 15px 50px;
  border: 2px solid #fff;
  cursor: pointer;
  transition: 0.3s;
}

.hero-resume:hover {
  border-color: #b415ff;
}

@media (max-width: 768px) {
  .hero img {
    margin-top: 80px;
    width: 260px;
  }

  .hero h3 {
    width: 90%;
    font-size: 50px;
  }

  .hero p {
    width: 60%;
    font-size: 18px;
    line-height: 32px;
    margin: 10px 0px;
  }

  .hero-action {
    flex-direction: column;
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
  }

  .hero-connect {
    padding: 20px 30px;
    border-radius: 40px;
  }

  .hero-resume {
    padding: 20px 50px;
    border-radius: 40px;
  }
}
