.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 150px;

  position: sticky;
  top: 0; /* Position the navbar at the top */
  z-index: 3; /* Ensure it appears above other elements */
  background: #161513;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add a shadow */
}

.navbar h1 {
  font-size: 40px;
  font-weight: 600;
}

.navbar h1 span {
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}

.anchor-link {
  text-decoration: none;
  color: white;
}

.anchor-link-selected {
  text-decoration: none;
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.anchor-link:hover,
.anchor-link-selected:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.nav-menu li img {
  display: flex;
  margin: auto;
}

.nav-mob-close {
  cursor: pointer;
  display: none;
}

.nav-mob-open {
  display: none;
}

@media (max-width: 1200px) {
  .navbar {
    padding: 20px 75px;
  }
  .nav-menu { 
    gap: 40px;
  }
}

@media (max-width: 900px) {
  .navbar {
    padding: 20px 40px;
  }

  .nav-mob-open {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 40px;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #1f0016;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  }
}

@media (max-width: 768px) {
  .navbar {
    justify-content: flex-start;
  }

  .nav-mob-open {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 40px;
  }

  .nav-mob-close {
    cursor: pointer;
    display: block;
    position: relative;
    top: 30px;
    left: 275px;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #1f0016;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  }

  .nav-menu li {
    font-size: 30px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
  }
}


